@using System.Security.Claims
@using lensLook.Dal
@model ModelLoginAndRegister



@inject IBasketRepo BasketRepo;
<!DOCTYPE html>
<html lang="en">

<head>


    <style>
        footer{
            position: static;
            bottom: 0;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lens Look</title>
    @* libraries *@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    @* pages *@
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/AboutUs.css" rel="stylesheet" />
    <link href="~/css/services.css" rel="stylesheet" />
    @* online *@
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet" />
    @* font-awesome *@
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/brands.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/brands.css" rel="stylesheet" />
    <link href="~/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/regular.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/regular.css" rel="stylesheet" />
    <link href="~/font-awesome/css/solid.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/solid.css" rel="stylesheet" />
    <link href="~/font-awesome/css/svg-with-js.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/svg-with-js.css" rel="stylesheet" />
    <link href="~/font-awesome/css/v4-font-face.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/v4-font-face.css" rel="stylesheet" />
    <link href="~/font-awesome/css/v4-shims.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/v4-shims.css" rel="stylesheet" />
    <link href="~/font-awesome/css/v5-font-face.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/v5-font-face.css" rel="stylesheet" />

    @RenderSection("cssLinker", false)


    <style>
        .fa-right-from-bracket:hover {
            color: red !important;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/photos/logo1.png" alt="" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3"
                           aria-current="page"
                           asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" asp-controller="Home" asp-action="index" id="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" asp-controller="Home" asp-action="Service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" asp-action="store" asp-controller="Home">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="appointment.html">Appointment</a>
                    </li>
                    <li class="nav-item dropdown p-2 p-lg-2">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="OurDoctors">Our Doctors</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="FAQ">FAQ</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Reviews">Reviews</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                @{

                    if (!User.Identity.IsAuthenticated)
                    {

                        <a class="btn main-btn"
                           id="show-login"
                           data-bs-toggle="modal"
                           data-bs-target="#loginPopup"
                        @* asp-action="login" asp-controller="account" *@>
                            Login
                        </a>



                        <button class="btn main-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#registrationPopup">
                            Sign Up
                        </button>
                    }

                    else
                    {
                        <a class="btn" asp-action="SignOut" asp-controller="account">
                            @User.Identity.Name
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>


                        <a asp-action="Cart" asp-controller="Basket">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>

                    }

                    if (User.Identity.IsAuthenticated)
                    {
                        var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                        <h4>@BasketRepo.GetCountBasketItems(userId)</h4>

                    }



                }

                


            </div>
        </div>
    </nav>




    @RenderBody()






    @{

        if ((!User.Identity.IsAuthenticated))
        {
            <div class="modal fade"
                 id="loginPopup"
                 tabindex="-1"
                 aria-labelledby="loginPopupLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="loginPopupLabel">Login</h3>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="RegisterOrLogin" method="post" asp-controller="Account">
                                <div class="mb-3">
                                    <label asp-for="ModelLogin.Email" class="form-label fw-bold">Email</label>
                                    <input asp-for="ModelLogin.Email" class="form-control" placeholder="Enter your Email" required />
                                    <span asp-validation-for="ModelLogin.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ModelLogin.Password" class="form-label fw-bold">Password</label>
                                    <input asp-for="ModelLogin.Password" class="form-control" placeholder="Enter your password" required />
                                    <span asp-validation-for="ModelLogin.Password" class="text-danger"></span>
                                </div>
                                <div class="mb-3 form-check">
                                    <input asp-for="ModelLogin.RememberMe" class="form-check-input" />
                                    <label asp-for="ModelLogin.RememberMe" class="form-check-label">Remember Me</label>
                                </div>
                                <button type="submit" class="btn main-btn ms-0 mb-3">Login</button>
                                <a asp-action="ForgetPassword" asp-controller="account" class="btn btn-danger">Forgot Password?</a>
                                <hr />


                            </form>
                            <p>Don't have an account? <a asp-action="Register">Sign Up</a></p>

                        </div>
                    </div>
                </div>
            </div>




            <div class="modal fade"
                 id="registrationPopup"
                 tabindex="-1"
                 aria-labelledby="registrationPopupLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="registrationPopupLabel">Sign Up</h3>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="RegisterOrLogin" method="post" asp-controller="Account">
                                <div class="mb-3">
                                    <label asp-for="ModelRegister.FirstName" class="form-label fw-bold">First Name</label>
                                    <input asp-for="ModelRegister.FirstName" class="form-control" placeholder="Enter your first name" required />
                                    <span asp-validation-for="ModelRegister.FirstName" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ModelRegister.LastName" class="form-label fw-bold">Last Name</label>
                                    <input asp-for="ModelRegister.LastName" class="form-control" placeholder="Enter your last name" required />
                                    <span asp-validation-for="ModelRegister.LastName" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ModelRegister.Email" class="form-label fw-bold">Email</label>
                                    <input asp-for="ModelRegister.Email" class="form-control" placeholder="Enter your email" required />
                                    <span asp-validation-for="ModelRegister.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ModelRegister.DateOfBirth" class="form-label fw-bold">Date of Birth</label>
                                    <input asp-for="ModelRegister.DateOfBirth" class="form-control" required />
                                    <span asp-validation-for="ModelRegister.DateOfBirth" class="text-danger"></span>
                                </div>
                                @*                         <div class="mb-3">
                        <label asp-for="ModelRegister.Gender" class="form-label fw-bold">Gender</label>
                        <div class="form-check">
                        <input asp-for="ModelRegister.Gender" class="form-check-input" type="radio" name="Gender" value="Male" />
                        <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check">
                        <input asp-for="ModelRegister.Gender" class="form-check-input" type="radio" name="Gender" value="Female" />
                        <label class="form-check-label" for="female">Female</label>
                        </div>
                        <span asp-validation-for="ModelRegister.Gender" class="text-danger"></span>
                        </div> *@
                                <div class="mb-3">
                                    <label asp-for="ModelRegister.Password" class="form-label fw-bold">Password</label>
                                    <input asp-for="ModelRegister.Password" class="form-control" placeholder="Enter your password" required />
                                    <span asp-validation-for="ModelRegister.Password" class="text-danger"></span>
                                    <div class="form-text">Password must be at least 8 characters long, including a combination of uppercase and lowercase letters, numbers, and symbols.</div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ModelRegister.ConfirmPassword" class="form-label fw-bold">Confirm Password</label>
                                    <input asp-for="ModelRegister.ConfirmPassword" class="form-control" placeholder="Confirm your password" required />
                                    <span asp-validation-for="ModelRegister.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="mb-3 form-check">
                                    <input asp-for="ModelRegister.IsActive" class="form-check-input" required />
                                    <label asp-for="ModelRegister.IsActive" class="form-check-label">I agree to the Terms and Conditions</label>
                                    <a href="#">(link to Terms and Conditions)</a>
                                </div>
                                <button type="submit" class="btn main-btn ms-0 mb-3" id="show-login"
                                        data-bs-toggle="modal"
                                        data-bs-target="#loginPopup">
                                    Sign Up
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>






        }



    }







































    <footer class="footer" >
        <div class="">
            <div class="row">
                <div class="col ms-5">
                    <img src="~/photos/white logo.png"
                         alt="Company Logo"
                         class="img-fluid mb-3" />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                        nulla sapien, aliquam euismod magna vel, egestas faucibus quam.
                    </p>
                    <div class="d-flex justify-content-center icons">
                        <a href="#"><i class="fa-brands fa-facebook me-4 fs-1"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter me-4 fs-1"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in me-4 fs-1"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram me-4 fs-1"></i></a>
                    </div>
                </div>
                <div class="col text-center">
                    <h4>Menu Items</h4>
                    <hr />
                    <ul style="list-style: none">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="index">About Us</a></li>
                        <li><a asp-controller="Service" asp-action="Service">Services</a></li>
                        @*                         <li><a href="store.html">Store</a></li>
                        <li><a href="appointment.html">Appointment</a></li> *@
                    </ul>
                </div>
                <div class="col text-center column-gap-2">
                    <h4>Support Links</h4>
                    <hr />
                    <ul style="list-style: none">
                        <li><a asp-controller="Home" asp-action="OurDoctors">Our Doctors</a></li>
                        <li><a asp-controller="Home" asp-action="FAQ">FAQs</a></li>
                        <li><a asp-controller="Home" asp-action="Reviews">Reviews</a></li>
                        <li><a href="join as a doctor.html">Join As A Doctor </a></li>
                    </ul>
                </div>
                <div class="col text-center">
                    <h4>Contact Us</h4>
                    <hr />
                    <p>
                        123 Main Street<br />Anytown, CA 12345<br />555-555-5555<br />info@company.com
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="copyright text-center mt-3">
                    <p>&copy; 2024 Lenslook. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @* libraries *@
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>
    @* pages *@
    @*     <script src="~/js/Home.js"></script>
    <script src="~/js/AboutUs.js"></script>
    <script src="~/js/FAQ.js"></script> *@

    @* font-awesome *@
    <script src="~/font-awesome/js/all.min.js"></script>
    <script src="~/font-awesome/js/all.js"></script>
    <script src="~/font-awesome/js/brands.min.js"></script>
    <script src="~/font-awesome/js/brands.js"></script>
    <script src="~/font-awesome/js/conflict-detection.min.js"></script>
    <script src="~/font-awesome/js/conflict-detection.js"></script>
    <script src="~/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/font-awesome/js/fontawesome.js"></script>
    <script src="~/font-awesome/js/regular.min.js"></script>
    <script src="~/font-awesome/js/regular.js"></script>
    <script src="~/font-awesome/js/solid.min.js"></script>
    <script src="~/font-awesome/js/solid.js"></script>
    <script src="~/font-awesome/js/v4-shims.min.js"></script>
    <script src="~/font-awesome/js/v4-shims.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>