
@{
    ViewData["Title"] = "Reviews";

    if (User.Identity.IsAuthenticated)
    {

        Layout = "_LayoutWithAuth";
    }
    else
    {
        Layout = "_Layout";

    }

}

    @* pages *@
    <link href="~/css/Reviews.css" rel="stylesheet" />




    <section class="landing container-fluid p-0 d-grid position-relative align-items-center">
    <img src="~/photos/about_us.jpg"
             alt="About us"
             class="img-fluid position-absolute" />
        <div class="overlay display-flex align-items-center justify-content-center opacity-50">
            <h3>Reviews</h3>
        </div>
    </section>
